Group08-NodeRedFlow.json
[{"id":"ab76ebb3.b99618","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"859251c1.cf39e","type":"inject","z":"ab76ebb3.b99618","name":"timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"usa","payloadType":"str","x":80,"y":168,"wires":[["1044de0b.6d77e2"]]},{"id":"ceeacfc0.4ddaf","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":725,"y":242,"wires":[]},{"id":"db90c521.f56c88","type":"http request","z":"ab76ebb3.b99618","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":236,"y":267,"wires":[["9e45b4ab.854f18"]]},{"id":"1044de0b.6d77e2","type":"function","z":"ab76ebb3.b99618","name":"ADD API & COUNTRY","func":"//Change your country (First Letter Capital)\nvar country = msg.payload;\n\nmsg.url = \"https://covid-193.p.rapidapi.com/statistics?country=\" + country;\nmsg.payload = \"\"\nmsg.headers = {};\nmsg.headers['x-rapidapi-host'] = 'covid-193.p.rapidapi.com';\nmsg.headers['x-rapidapi-key'] = '5c70bb172bmsh0374ad252b124c2p183636jsn3adf19444aca';\nreturn msg;\n\n// Register to rapidapi.com\n//Get key and write here\n//Change country and go.","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":217,"wires":[["db90c521.f56c88"]]},{"id":"9e45b4ab.854f18","type":"json","z":"ab76ebb3.b99618","name":"","property":"payload","action":"","pretty":false,"x":270,"y":320,"wires":[["cbd5ae8b.dd306","4f22f2e9.e4e0bc","93a385d7.5cf168"]]},{"id":"cbd5ae8b.dd306","type":"function","z":"ab76ebb3.b99618","name":"Extract Info","func":"var payload = msg.payload;\nvar country = payload.response[0].country;\nvar population = payload.response[0].population;\nvar date = payload.response[0].day;\nvar total=payload.response[0].cases.total;\nvar newcases = payload.response[0].cases.new;\nvar recovered = payload.response[0].cases.recovered;\nvar deaths = payload.response[0].deaths.total;\nvar tests = payload.response[0].tests.total;\nvar active = payload.response[0].cases.active;\nvar critical = payload.response[0].cases.critical;\n\nmsg.payload = \n\"Covid Stats for \" + country + \"\\r\\n\" + \n\"Population : \"+ population + \"\\r\\n\" + \"\\r\\n\" + \n\"Total Cases : \" + total  + \"\\r\\n\" +\n\"New Cases : \" + newcases + \"\\r\\n\" + \n\"Active Cases : \"+ active + \"\\r\\n\" +\n\"Recovered : \" + recovered + \"\\r\\n\" + \n\"Total Deaths : \" + deaths  + \"\\r\\n\" \nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["ceeacfc0.4ddaf"]]},{"id":"2d43faf2.7a5056","type":"comment","z":"ab76ebb3.b99618","name":"Get Covid-19 Data (Select Country in function : \"ADD API & COUNTRY\"","info":"","x":507,"y":152,"wires":[]},{"id":"e50e6313.60106","type":"mqtt out","z":"ab76ebb3.b99618","name":"","topic":"covid1","qos":"","retain":"","broker":"35a1c51e.ad9a8a","x":773,"y":360,"wires":[]},{"id":"4f22f2e9.e4e0bc","type":"function","z":"ab76ebb3.b99618","name":"","func":"var risk =parseInt(1000000*parseInt(msg.payload.response[0].cases.active)/parseInt(msg.payload.response[0].population));\npayload=msg.payload.response[0].cases.total+\",\"+parseInt(msg.payload.response[0].cases.new)+\",\"+msg.payload.response[0].cases.active+\",\"+msg.payload.response[0].cases.recovered+\",\"+msg.payload.response[0].deaths.total+\",\"+risk\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":503,"y":350,"wires":[["e50e6313.60106","832f9fd4.ee6cf"]]},{"id":"832f9fd4.ee6cf","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":773,"y":304,"wires":[]},{"id":"3c276b57.d1d764","type":"mqtt in","z":"ab76ebb3.b99618","name":"","topic":"covidGet","qos":"2","datatype":"auto","broker":"35a1c51e.ad9a8a","x":93,"y":357,"wires":[["1044de0b.6d77e2","9db3e6bc.2a7618"]]},{"id":"93a385d7.5cf168","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":469,"y":235,"wires":[]},{"id":"9db3e6bc.2a7618","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":256,"y":382,"wires":[]},{"id":"3f9abcbb.d4bbe4","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":442,"y":511,"wires":[]},{"id":"74c63968.f42008","type":"http request","z":"ab76ebb3.b99618","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.hpb.health.gov.lk/api/get-current-statistical","tls":"","persist":false,"proxy":"","authType":"","x":235,"y":532,"wires":[["44cc21cb.1e928"]]},{"id":"d53be73c.f952c8","type":"inject","z":"ab76ebb3.b99618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":93,"y":497,"wires":[["74c63968.f42008"]]},{"id":"44cc21cb.1e928","type":"json","z":"ab76ebb3.b99618","name":"","property":"payload","action":"","pretty":false,"x":316,"y":583,"wires":[["3f9abcbb.d4bbe4","7f04d46f.02e49c"]]},{"id":"c88253b.f2ce1b","type":"mqtt out","z":"ab76ebb3.b99618","name":"","topic":"covid2","qos":"2","retain":"","broker":"35a1c51e.ad9a8a","x":676,"y":579,"wires":[]},{"id":"7f04d46f.02e49c","type":"function","z":"ab76ebb3.b99618","name":"","func":"payload=msg.payload.data.local_total_cases+\",\"+msg.payload.data.local_active_cases+\",\"+msg.payload.data.local_new_cases+\",\"+msg.payload.data.local_recovered+\",\"+msg.payload.data.local_deaths+\",\"+msg.payload.data.global_total_cases+\",\"+msg.payload.data.global_new_cases+\",\"+msg.payload.data.global_deaths+\",\"+msg.payload.data.global_recovered+\",\"+msg.payload.data.update_date_time.substr(0,10)\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":579,"wires":[["c88253b.f2ce1b","4342ef0.6d9891"]]},{"id":"4342ef0.6d9891","type":"debug","z":"ab76ebb3.b99618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":665,"y":504,"wires":[]},{"id":"649e163f.f90428","type":"mqtt in","z":"ab76ebb3.b99618","name":"","topic":"getcommon","qos":"2","datatype":"auto","broker":"35a1c51e.ad9a8a","x":81,"y":580,"wires":[["74c63968.f42008"]]},{"id":"35a1c51e.ad9a8a","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]